<!DOCTYPE html>
<html lang="en">
<head>
<link href="/public/style" type="style/css"/>
<script src="./jquery" type="jquery/text"></script>
<script src="./index" type="javescript/text"></script>
	<meta charset="UTF-8">
	<title>Signup</title>
</head>
<body>
	<section>
        <h1>Please register</h1>
        <form action="/user"  class="user_register" method="POST">
            <label for="new_email">Email</label>
            <input id="new_email" type="text" placeholder="Type your email here">
            <br>
            <label for="new_password">Password</label>
            <input id="new_password" type="text" placeholder="Type your password here">
            <br>
            <button>register</button>
        </form>
    </section>
</body>
</html>