<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <script src="./jquery" type="jquery/text"></script>
    <script src="./index" type="javescript/text"></script>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<body>
    <nav>
        <button>
            <a href="/"></a>Log out</button>
    </nav>
    <section id="youtube">
        <input type="search" placeholder="search for video">
        <button>Search</button>
    </section>
</body>

</html>
